<h1>Productos Disponibles</h1>

<div id="product-list-home">
    {{#if products}}
        <ul>
            {{#each products}}
            <li>
                <strong>{{this.title}}</strong> ({{this.category}}) - ${{this.price}}
                <br>
                Código: {{this.code}}, Stock: {{this.stock}}
            </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos para mostrar en este momento.</p>
    {{/if}}
</div>