<h1>Productos disponibles</h1>

<div id="product-list-home">
    {{#if payload.docs}}
        <ul>
            {{#each payload.docs}}
            <li>
                <strong>{{this.title}}</strong> ({{this.category}}) - ${{this.price}}
                <br>
                Código: {{this.code}}, Stock: {{this.stock}}
            </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos para mostrar en este momento.</p>
    {{/if}}
</div>

{{!-- Paginaciónnn --}}
<div class="pagination">
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    
    <span>Página {{page}} de {{totalPages}}</span>

    {{#if hasNextPage}}
        <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
</div>